<div class="card">
  <a href="/api/posts/:id">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{text}}</p>
      <footer class="blockquote-footer"><cite title="Source Title">{{user.username}}</cite></footer>
    </blockquote>
  </div>
  </a>
</div>