<form>
  <div class="form-group">
    <label for="emailAddress">Email address</label>
    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <a href="/sign-up">Don't have an account? Click here to Sign-Up</a><br>
  <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>
<script src='../public/js/public.js'></script>