<form>
  <div class="form-group">
    <label for="commentTitle">Title</label>
    <input type="text" class="form-control" id="commentTitle" placeholder="title">
  </div>
  <div class="form-group">
    <label for="textarea">Input Comment</label>
    <textarea class="form-control" id="textarea" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary mb-2" id="postSubmit">Add Post</button>
</form>
  <script scr="/js/post.js"></script>